.banner {
  background: transparent url(../../img/forest.jpg) 0 0 no-repeat fixed;
  background-color: #51596a;
  text-align: center;
  background-size: cover;
  filter: height: 200px;
  width: 100%;
  margin-bottom: 3em;
  display: table;
}

#generate-button {
  margin-top: 1em;
}

#generated-text .pure-input-1 {
  max-width: 75em;
  height: 25em;
  margin: 0 auto;
  margin-bottom: 2em;
  word-wrap: break-word;
}

#generated-text input[readonly],
#generated-text select[readonly],
#generated-text textarea[readonly] {
  border-color: #ccc;
  background-color: white;
  text-align: center;
  font-weight: 200;
  letter-spacing: 0.1em;
  font-size: 1em;
  word-wrap: break-word;
}

#generated-text input[readonly]:focus {
  border-color: #ff7f7f;
}

#output {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #614f41;
  font-size: 1em;
  min-height: 125px;
  margin: 0 auto;
  margin-bottom: 150px;
  padding: 45px;
  position: relative;
  text-align: left;
  width: 610px;
}
