/* Cool text highlight colors */

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #7e96b0;
}
::selection {
  color: white;
  background: #7e96b0;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */

body {
  color: #526066;
}
h2, h3 {
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: 600;
}
p {
  line-height: 1.6em;
}

/*
 * -- Layout Styles --
 */

.l-content {
  margin: 0 auto;
}
.l-box {
  padding: 0.5em 2em;
}

/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */

.pure-menu {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.banner {
  background: transparent url(../../img/water.jpg) 0 0 no-repeat fixed;
  background-color: #e17c9c;
  text-align: center;
  background-size: cover;
  filter: height: 200px;
  width: 100%;
  margin-bottom: 3em;
  display: table;
}
.banner-head {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 2em;
  color: white;
  font-weight: 500;
  text-shadow: 0 1px 1px black;
}

/*
 * -- tool TABLE WRAPPER --
 * This element wraps up all the tool table elements
 */

.tool-tables, .information {
  max-width: 980px;
  margin: 0 auto;
}
.tool-tables {
  margin-bottom: 3.125em;
  text-align: center;
}

/*
 * -- tool TABLE  --
 * Every tool table has the .tool-table class
 */

.tool-table {
  border: 1px solid #ddd;
  margin: 0 0.5em 2em;
}

/*
 * -- tool TABLE HEADER COLORS --
 * Choose a different color based on the type of tool table.
 */

.tool-table-free .tool-table-header {
  background: #519251;
}
.tool-table-biz .tool-table-header {
  background: #2c4985;
}

/*
 * -- tool TABLE HEADER --
 * By default, a header is black/white, and has some styles for its <h2> name.
 */

.tool-table-header {
  background: #111;
  color: #fff;
}
.tool-table-header h2 {
  margin: 0;
  padding: 2em 0;
  font-size: 1em;
  font-weight: normal;
}

/*
 * -- tool TABLE PRICE --
 * Styles for the price and the corresponding <span>per month</span>
 */

.tool-table-price {
  font-size: 3em;
  margin: 0.2em 0 0;
  font-weight: 100;
  padding: 1em 0;
}
.tool-table-price span {
  display: block;
  text-transform: uppercase;
  font-size: 0.4em;
  padding: 1em 0;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  *color: #fff;
}
.tool-table-link a {
  padding: 0.75em 0;
  text-decoration: none;
}
.tool-table-link a:hover {
  text-decoration: underline;
  font-size: 1.01em;
  color: black;
}
.tool-table-link a:link, .tool-table-link a:visited {
  color: white;
}
.tool-table-link a:active {
  color: pink;
}

/*
 * -- tool TABLE LIST --
 * Each tool table has a <ul> which is denoted by the .tool-table-list class
 */

.tool-table-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

/*
 * -- tool TABLE LIST ELEMENTS --
 * Styles for the individual list elements within each tool table
 */

.tool-table-list li {
  padding: 0.8em 0;
  background: #f7f7f7;
  border-bottom: 1px solid #e7e7e7;
}

/*
 * -- tool TABLE BUTTON --
 * Styles for the "Choose" button at the bottom of a tool table.
 * This inherits from Pure Button.
 */

.button-choose {
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  border-radius: 2em;
  font-weight: bold;
  position: relative;
  bottom: -1.5em;
}
.information-head {
  color: black;
  font-weight: 500;
  text-align: center;
}
.footer {
  background: #111;
  color: #888;
  text-align: center;
}
.footer a {
  color: #ddd;
}

/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various tool tables
 */

@media(min-width: 767px) {
  .banner-head {
    font-size: 4em;
  }
  .tool-table {
    margin-bottom: 0;
  }
}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */

@media (min-width: 480px) {
  .banner {
    height: 400px;
  }
  .banner-head {
    font-size: 3em;
  }
}
